<launch>
  <!-- First RealSense Camera -->
  <group ns="camera1">
    <include file="$(find realsense2_camera)/launch/rs_camera.launch">
      <arg name="serial_no" value="841612070146"/>  <!-- Replace with your first camera serial -->
      <arg name="align_depth" value="true"/>
      <arg name="color_width" value="424"/>
      <arg name="color_height" value="240"/>
      <arg name="color_fps" value="60"/>
      <arg name="depth_width" value="480"/>
      <arg name="depth_height" value="270"/>
      <arg name="depth_fps" value="60"/>
    </include>
  </group>

  <!-- Your main node -->
  <node pkg="kobuki_yolo" type="kobuki_yolo" name="kobuki_yolo" output="screen"/>
</launch>